In [1]:
import numpy as np

### Datatypes and Attributes

In [2]:
a1=np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2=np.array([
    [1,2.0,3.3],
    [4,5,6.5]
])
a3=np.array([[[1,2,3],[4,5,6],[7,8,9]],[[10,11,12],[13,14,15],[16,17,18]]])

In [5]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [7]:
a1.shape

(3,)

In [8]:
a1.ndim

1

In [9]:
a1.dtype

dtype('int32')

In [10]:
a2.dtype,a3.dtype

(dtype('float64'), dtype('int32'))

In [11]:
a1.size,a2.size,a3.size

(3, 6, 18)

In [12]:
### Create dataframe from numpy
import pandas as pd
df=pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

In [13]:
type(df)

pandas.core.frame.DataFrame

## Creating Arrays

In [14]:
sample_array=np.array(range(3))
sample_array

array([0, 1, 2])

In [15]:
sample_array.dtype

dtype('int32')

In [16]:
ones=np.ones((2,3),dtype=np.int32,order='C')
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [17]:
zeros=np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
random_array=np.random.randint(1,20,size=(2,3))
random_array

array([[10, 16, 17],
       [ 5, 16,  9]])

In [19]:
random_array2=np.random.rand(5,3)
random_array2

array([[0.51104369, 0.14014537, 0.24777449],
       [0.93780208, 0.84424848, 0.00606479],
       [0.0734682 , 0.28162313, 0.55184136],
       [0.30914369, 0.07261946, 0.94991199],
       [0.39935183, 0.90078955, 0.34737734]])

In [20]:
random_array3=np.random.random(size=(2,3))
random_array3

array([[0.59647662, 0.10321884, 0.89440108],
       [0.52769157, 0.21088329, 0.91552145]])

In [21]:
#pseudo random numbers
np.random.seed(seed=0)
random_array4=np.random.randint(10,size=(5,3))
random_array4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [22]:
random_array4.shape

(5, 3)

In [23]:
np.random.seed(7)
random_array5=np.random.randint(10,size=(5,3))
random_array5

array([[4, 9, 6],
       [3, 3, 7],
       [7, 9, 7],
       [8, 9, 8],
       [7, 6, 4]])

### Viewing arrays and matrices

In [24]:
np.unique(random_array5)

array([3, 4, 6, 7, 8, 9])

In [25]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [26]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [27]:
a3[0][2]

array([7, 8, 9])

In [28]:
a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [29]:
a4=np.random.randint(10,size=(2,3,4,5))
a4

array([[[[0, 7, 0, 7, 6],
         [3, 5, 8, 8, 7],
         [5, 0, 0, 2, 8],
         [9, 6, 4, 9, 7]],

        [[3, 3, 8, 3, 0],
         [1, 0, 0, 6, 7],
         [7, 9, 3, 0, 7],
         [7, 7, 0, 5, 4]],

        [[3, 1, 3, 1, 3],
         [4, 3, 1, 9, 5],
         [9, 1, 2, 3, 2],
         [2, 5, 7, 3, 0]]],


       [[[9, 9, 3, 4, 5],
         [3, 0, 4, 8, 6],
         [7, 2, 7, 3, 8],
         [6, 6, 5, 6, 5]],

        [[7, 1, 5, 4, 4],
         [9, 9, 0, 6, 2],
         [6, 8, 2, 4, 1],
         [6, 1, 5, 1, 6]],

        [[9, 8, 6, 5, 9],
         [7, 5, 4, 9, 6],
         [8, 1, 5, 5, 8],
         [3, 7, 7, 9, 4]]]])

In [30]:
a4[1,2,0]

array([9, 8, 6, 5, 9])

In [31]:
a4[1][2][0]

array([9, 8, 6, 5, 9])

In [41]:
a4[:,:,:,0:1]

array([[[[0],
         [3],
         [5],
         [9]],

        [[3],
         [1],
         [7],
         [7]],

        [[3],
         [4],
         [9],
         [2]]],


       [[[9],
         [3],
         [7],
         [6]],

        [[7],
         [9],
         [6],
         [6]],

        [[9],
         [7],
         [8],
         [3]]]])

In [43]:
a1+np.ones(3)

array([2., 3., 4.])

In [44]:
a1*np.ones(3)

array([1., 2., 3.])

In [53]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [54]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [56]:
a2.reshape((3,2))

array([[1. , 2. ],
       [3.3, 4. ],
       [5. , 6.5]])

In [63]:
a4=a3[1,0]
a4.shape
#a4*a2.reshape(3,2)

(3,)

In [64]:
a3[0]*a4

array([[ 10,  22,  36],
       [ 40,  55,  72],
       [ 70,  88, 108]])

### Aggregation

In [66]:
listy_list=[1,2,3]
type(listy_list)

list

In [67]:
sum(listy_list)

6

In [68]:
sum(a1)

6

In [70]:
np.sum(a1)

6

In [71]:
massive_array=np.random.random(10000)
massive_array[:10]

array([0.39200156, 0.93959276, 0.21291858, 0.81329627, 0.40364858,
       0.58672092, 0.18599889, 0.81232251, 0.58084741, 0.44693254])

In [72]:
%timeit sum(massive_array)
%timeit np.sum(massive_array)

5.47 ms ± 406 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
33 µs ± 510 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)