## Regression Evaluation metrics

1. R^2 (R squared error)  or coefficient of Determination
2. Mean Absolute Error
3. Mean Square Error

In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
boston_data=load_boston()
boston_df=pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
boston_df['target']=boston_data['target']
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [2]:
X=boston_df.iloc[:,:-1]
Y=boston_df.iloc[:,-1]

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8)

In [4]:
regressor=RandomForestRegressor()
regressor.fit(x_train,y_train)
y_predicts=regressor.predict(x_test)
y_predicts

array([20.103, 30.139, 22.944, 15.475, 26.766, 19.92 , 21.135, 21.066,
       13.648, 30.1  , 17.259, 19.771, 30.813, 19.158,  6.854, 15.356,
       18.222, 14.14 , 16.278, 35.903, 20.736, 20.399, 22.2  , 44.704,
       15.347, 11.974, 28.872, 22.739, 24.305, 31.668, 35.341, 21.27 ,
       20.759, 16.455,  9.275, 27.146, 18.917, 41.45 , 23.251, 18.785,
       19.746, 16.451, 20.488, 21.929, 15.712, 19.212, 41.175, 23.501,
       21.203, 43.844, 32.755, 34.352, 32.201, 23.612, 24.79 , 19.478,
       13.303, 19.961, 29.716, 19.278, 16.925, 13.57 , 23.902, 27.017,
       12.097, 15.874, 21.393, 22.993, 23.441, 16.214, 33.67 , 20.659,
       34.951, 19.623, 20.281, 20.788, 14.363, 21.106, 18.001, 29.712,
       15.071, 33.283, 14.67 , 14.406, 18.777, 44.604, 23.352, 14.949,
       15.734, 30.693, 17.998, 22.148, 33.392, 20.734, 19.951, 16.828,
       21.999, 19.409, 21.369, 10.985, 34.712, 14.416])

In [5]:
regressor.score(x_test,y_test)

0.8904720366134525

In [6]:
from sklearn.metrics import r2_score
r2_score(y_pred=y_predicts,y_true=y_test)

0.8904720366134525

In [7]:
r2_score(y_test,y_test)

1.0

In [8]:
x_test['Predicted']=y_test.mean()
r2_score(y_test,x_test.Predicted)

e:\deeplearning\pytorch\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0.0

In [9]:
#Mean Absolute Error
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_predicts,y_test)
mae

2.036196078431372

In [10]:
df=pd.DataFrame(data={
    "Actual values":y_test,
    "Predicted Values":y_predicts
})
df=df.astype({'Predicted Values':np.float32,'Actual values':np.float32})
#df['Actual values']=df['Actual values'].astype(float)
#df['difference']=df['Predicted Values'-'Actual values']

df.dtypes

Actual values       float32
Predicted Values    float32
dtype: object

In [11]:
df['difference']=np.abs(df['Predicted Values']-df['Actual values'])
df['difference'].mean()

2.0361965

In [12]:
df['square Difference']=np.square(df['Predicted Values']-df['Actual values'])
df['square Difference'].mean()

7.6543174

In [13]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_predicts,y_test)
mse

7.654316137254892

In [14]:
np.random.seed(42)
from sklearn.model_selection import cross_val_score
cv_acc=cross_val_score(regressor,X,Y,cv=5,scoring='r2')
#change scoring parameter to neg_mean_absolute_error,neg_mean_absolute_error
cv_acc.mean()

0.622375083951403

In [16]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
np.random.seed(42)
r2_score(y_predicts,y_test),mean_absolute_error(y_predicts,y_test),mean_squared_error(y_predicts,y_test)

(0.8755533447214439, 2.036196078431372, 7.654316137254892)

In [ ]:
regressor.get_params